# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# -----------------------------
# Virtual environments
# -----------------------------
venv/
.env/
env/
.venv/

# -----------------------------
# Data & Datasets
# -----------------------------
data/
!data/test/            # keep test images (car1.jpg, cat1.jpg, etc.)
data/**/*.tar.gz
*.tar.gz

# -----------------------------
# Model weights
# -----------------------------
models/*.pth
!models/README.md       # in case you keep a placeholder
# explicity send the resnet50 fine tuned weights to GitHub for use in Stream Lit
!models/cifar10_resnet50.pth

# -----------------------------
# IDE & Editor files
# -----------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

# -----------------------------
# Streamlit
# -----------------------------
.streamlit/secrets.toml
